.regestration-window {
	position: absolute;
	top: 0;
	left: 455px;
	width: 400px;
	margin: auto;

	display: none;
	height: 400px;
	background-color: white;
	z-index: 10001;
	position: fixed;
}

.overlay {
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; 
    cursor: default; 
}
.overlay:target {
    display: block;
}

.overlay:target + .regestration-window {
	display: block;
}


.window-header {
	text-align: center;
	color: white;
	font-size: 24px;
	line-height: 60px;
	
}
.form-regestration{
	padding: 50px;
}
.form {
	padding: 50px 100px;
}
.input-field {
	height: 50px;
	width: 90%;
	margin-bottom: 25px;
	margin-left:20px;
	box-sizing: border-box;
	padding-left: 15px;
}
.input-field-date {
	height: 50px;
	width: 50%;
	margin-bottom: 25px;
	box-sizing: border-box;
}
.field-date {
	display: inline-block;
}


.submit {
	width: 100%; 
}

.or {
	text-align: center;
	color: #999;
	font-size: 18px;
	margin: 15px 0;
}
.or span {
	margin: 0 10px;
}
.or:before {
	content: "";
	border-bottom: 1px solid #999;
    width: 100px;
    height: 1px;
    display: inline-block;
    position: relative;
    top: -6px;
}
.or:after {
	content: "";
	border-bottom: 1px solid #999;
    width: 100px;
    height: 1px;
    display: inline-block;
    position: relative;
    top: -6px;
}